<div class="container">
  <div class="row">
    <div class="col">Please select a note:</div>
  </div>
  <div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button
          type="button"
          class="btn btn-outline-primary"
          id="dropdownBasic1"
          ngbDropdownToggle
        >
          Notes
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>C</button>
          <button ngbDropdownItem>D</button>
          <button ngbDropdownItem>E</button>
        </div>
      </div>
    </div>
  </div>
</div>
